/* Muli */
@font-face {
  font-family: "muli_blackregular";
  src: url("../fonts/muli/muli-black-webfont.woff2") format("woff2"),
  url("../fonts/muli/muli-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "muliregular";
  src: url("../fonts/muli/muli-regular-webfont.woff2") format("woff2"),
  url("../fonts/muli/muli-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "mulibold";
  src: url("../fonts/muli/muli-bold-webfont.woff2") format("woff2"),
  url("../fonts/muli/muli-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}