{% load widget_tweaks %}
{% load static %}
{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}
{% if form.non_field_errors %}
<div class="modal is-danger" role="alert">
    {% for error in form.non_field_errors %} {{ error }} {% endfor %}
</div>
{% endif %}
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="media center message is-danger error-message-container ">
    <img class="media-left error-message-icon" src="{% static 'img/alert-circle.svg' %}" alt=""/>
    <div class="media-content is-centered error-message has-text-left">
        {{ error|escape }}
    </div> 
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="message is-danger">
    <div class="message-body">
        {{ error|escape }}
    </div>
</div>
{% endfor %}
{% endif %}
{% for field in form.visible_fields %}
<div class="field">
	{% if field.name != 'categories' %}
		{% if field.name != 'location' %}
		<label class="label has-text-left form-name-label" for="{{ field.name }}">{{ field.label }}</label>
		{% else %}
		<h3 class="label has-text-left form-name-label">{{ field.label }}</h3>
		{%endif%}
	{% endif %}
	
    {% if field.help_text|safe %}
    <div class="help text-muted has-text-left form-help-text" style="margin:0 0 5px 5px;">{{ field.help_text }}</div>
    {% endif %}

    {% if form.is_bound %}
    {% if field.errors %}
    <div class="control">
        {% render_field field class="input is-danger" %}
    </div>
    {% for error in field.errors %}
    <div class="container center">
       <div class="media center help is-danger error-message-container-small center">
            <img class="media-left error-message-icon-small" src="{% static 'img/alert-circle.svg' %}" alt=""/>
            <div class="media-content error-message has-text-left">
            {{ error }}
           </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    {% render_field field class="input is-success" %}
    {% endif %}
    {% else %}
    {% if field.field.widget.input_type == "file" %}
    <div class="file has-name is-boxed is-primary is-fullwidth form-file-input">
        <label class="file-label">
            {% render_field field class="file-input" %}
            <span class="button is-info is-outlined hover-grow">
				<span class="file-icon">
					<i class="fas fa-image"></i>
					&nbsp;&nbsp;Adjuntá una foto
				</span>
			</span>
            <span class="file-name form-file-name">
			</span>
        </label>
    </div>
    {% else %}
    <div class="control">
        {{ field }}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endfor %}

<script>
      
window.addEventListener("DOMContentLoaded", () => {
   if (!document.querySelector(".file-label")) {
      let buttonWrapper = document.createElement("div");
      let lastField = document.querySelectorAll(".field");
      lastField = lastField[lastField.length - 1];
      let labelFile = document.createElement("label");
      let inputFile = document.querySelector("input[type='file']");
      let fakeButton = document.createElement("span");
      let fileIconWrapper = document.createElement("span");
      let fileIcon = document.createElement("i");
      buttonWrapper.classList.add("file", "has-name", "is-boxed", "is-primary", "is-fullwidth");
      buttonWrapper.classList.add("form-file-input");
      labelFile.classList.add("file-label");
      inputFile.classList.add("file-input");
      fakeButton.classList.add("button", "is-info", "is-outlined", "hover-grow");
      fileIconWrapper.classList.add("file-icon");
      fileIcon.classList.add("fas", "fa-image");
      fileIcon.style.marginRight = "1rem";
      lastField.appendChild(buttonWrapper);
      buttonWrapper.appendChild(labelFile);
      labelFile.appendChild(fakeButton);
      fakeButton.appendChild(inputFile);
      fakeButton.appendChild(fileIconWrapper);
      fileIconWrapper.appendChild(fileIcon);
      fileIconWrapper.innerHTML += "Adjuntá una foto";
   }
});


      function changeViveres() {

        var elemento = document.getElementById('viveres');

        elemento.checked = !elemento.checked;

        if(elemento){
           document.getElementById('viveresIcon').classList.add("has-text-info");
        }else{
           document.getElementById('viveresIcon').classList.remove("has-text-info");

        }
      }

      function changeSwitch(name){
        var elemento = document.getElementById(name);
        elemento.checked = !elemento.checked;
        changeIconClass(name);
      }

      function changeIconClass(name) {
          var elemento = document.getElementById(name);
          if (elemento.checked) {
              document.getElementById(name+'Icon').classList.add("has-text-info");
          } else {
              document.getElementById(name+'Icon').classList.remove("has-text-info");
          }
      }

</script>
