{% load static %}
<div class="columns center" style="margin-top: 20px;">
	<div
		class="disclaimer-preview column is-two-third-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd regular-shadow hover-grow"
	>
		<article class="media">
			<div class="content">
				<div><img class="decorative-img" src="{% static 'img/img_important.svg' %}" alt=""/></div>
				<div class="info">
					<h2 class="title is-4 has-text-white" style="overflow: hidden;">Importante</h2>
					<p class="bd-notification is-primary has-text-white has-text-left">
						Esta es una plataforma ciudadana que depende totalmente de la buena voluntad de la gente. No hay
						garantías de recibir ayuda sí o sí. La información que uno carga va a ser 100% de acceso
						público.
					</p>
					<p class="has-text-justified">
						<a href="/legal" class="has-text-white"><u>Mas info acá</u></a>
					</p>
				</div>
			</div>
		</article>
	</div>
</div>

<div class="columns center" style="margin-top: 20px;">
	<div
		class="how-it-works column is-two-third-mobile is-half-tablet is-half-desktop is-half-widescreen is-half-fullhd regular-shadow hover-grow"
	>
		<article class="media animated fadeIn">
			<div class="content">
				<div><img class="decorative-img" src="{% static 'img/img_howitsworks.svg' %}" alt=""/></div>
				<div class="info">
					<h2 class="title is-4 has-text-black" style="overflow: hidden;">Cómo funciona</h2>
					<p class="bd-notification is-primary has-text-black has-text-left">
						{{ message }}
					</p>
				</div>
			</div>
		</article>
	</div>
</div>
