{% extends 'base.html' %} {% load leaflet_tags %} {% load static %} {% block bread %}
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
	<ul>
		<li><a href="/" style="color: #9096a1;">Inicio</a></li>
		<li><a href="/recibir" style="color: #9096a1;">Información</a></li>
		<li class="is-active">
			<a href="#" class="is-active" style="color: #2979ff;">Necesito ayuda</a>
		</li>
	</ul>
</nav>
{% endblock bread %} {% block content%}

<h2 class="center custom-heading-two">Solicitar ayuda</h2>

<div class="columns is-centered">
	<div class="column is-half">
		<button
			id="find-me"
			class="button is-fullwidth hover-grow help-request-map-button"
		>
			<span class="icon is-small search-location-button">
				<i class="fas fa-map-marker-alt"></i>
			</span>
			<span class="search-location-button">Apretá acá, voy a tratar de encontrarte</span>
		</button>

		<p id="status"></p>

		<form enctype="multipart/form-data" method="post" action="/solicitar" id="help-request-form">
			{% csrf_token %} {% include 'includes/bulma_form.html' with form=form %}
			<div class="control hover-grow">
				<button id="submit" type="submit" class="button is-success is-fullwidth">Enviar</button>
			</div>
		</form>

		<div class="modal" id="myModal">
			<div class="modal-background"></div>
			<div class="modal-card">
				<header class="modal-card-head" style="background-color: white;">
					<p class="modal-card-title has-text-left" style="font-weight: bold; color: #2979ff !important;">
						Ayuda con el mapa
					</p>
					<button class="delete" aria-label="close"></button>
				</header>
				<section class="modal-card-body">
					<ul style="list-style-position: outside;margin-left: 30px;">
						<li class="is-size-6 has-text-left has-text-black modalLi">
							Mové el mapa hasta donde veas tu ubicación y luego apretá en el icono
							<i class="fas fa-map-marker-alt"></i> y luego marcá en el mapa el punto exacto
						</li>
						<br />
						<li class="is-size-6 has-text-left has-text-black modalLi">
							Si te equivocaste podés apretar en el icono <i class="far fa-edit"></i> así podés mover el
							marcador, una vez corregido apretar 'Grabar'
						</li>
					</ul>
					<div class="image" style="margin-top: 30px;"><img src="{% static 'img/ayudamapa.gif' %}" alt=""
					/></div>
				</section>
				<footer class="modal-card-foot">
					<button class="button is-success close">Ok</button>
				</footer>
			</div>
		</div>

		<script>
			function getDireccion(longitude, latitude) {
				return new Promise(function (resolve) {
					fetch(`/v1/geoinversa/ar/${longitude}/${latitude}`)
						.then((response) => response.json())
						.then((data) => {
							const direccion = data.data.address;
							var arraylocation = data.data.polygons.split(',')
							document.getElementById('div_direccion').innerHTML = `
          <span><b>Calles</b>:${direccion || ''}</span><br /> 
          <span><b>Barrio</b>:${arraylocation[1] + arraylocation[2] || ''}</span><br /> 
          <span><b>Provincia/Localidad</b>:${arraylocation[3] +', '+ arraylocation[4] || ''} <span>`;
							document.getElementById('id_address').value = `${direccion.direccion || ''} ${
								direccion.localidad || ''
							} ${direccion.distrito || ''} ${direccion.departamento || ''}`;
							resolve(true);
						})
						.catch(() => {
							resolve(true);
						});
				});
			}

			function geoFindMe() {
				const status = document.querySelector('#status');
				const boton = document.querySelector('#find-me');

				function makePoint(longitude, latitude) {
					return JSON.stringify({
						type: 'Point',
						coordinates: [longitude, latitude],
					});
				}

				async function success(position) {
					const latitude = position.coords.latitude;
					const longitude = position.coords.longitude;

					boton.textContent = 'Te encontré, seguí completando !';
					boton.disabled = true;
					status.textContent = '';

					document.getElementById('id_location').innerHTML = makePoint(longitude, latitude);

					await getDireccion(longitude, latitude);

					const you = L.marker([latitude, longitude], {
						draggable: true,
						opacity: 0.9,
						title: 'Tu ubicación',
					}).addTo(maps[0]);
					you.bindPopup('Moveme si queres !').openPopup();

					maps[0].setView([latitude, longitude], 16);

					you.on('dragend', async function (e) {
						await getDireccion(e.target._latlng.lng, e.target._latlng.lat);
						document.getElementById('id_location').innerHTML = makePoint(
							e.target._latlng.lng,
							e.target._latlng.lat
						);
					});
				}

				function error() {
					status.textContent = 'No puedo encontrarte, usá los botones del mapa más abajo';
				}

				if (!navigator.geolocation) {
					status.textContent = 'Tu navegador no soporta la geolocalización';
				} else {
					status.textContent = 'Buscando tu ubicación…';
					navigator.geolocation.getCurrentPosition(success, error);
				}
			}

			function checkRequestForm() {
				let fields = ["title", "message", "name", "phone", "address"];
				let valid = true;

				document.getElementById('submit').textContent = 'Enviando...';
				document.getElementById('submit').disabled = 'disabled';

				for (let field of fields) {
					if (!document.getElementById(field).checkValidity()) {
						valid = false;
					}
				}

				return valid;
			}

			document.querySelectorAll('.modal-button').forEach(function (el) {
				el.addEventListener('click', function () {
					var target = document.querySelector(el.getAttribute('data-target'));
					//map.invalidateSize();
					target.classList.add('is-active');

					target.querySelector('.close').addEventListener('click', function () {
						target.classList.remove('is-active');
					});
					target.querySelector('.delete').addEventListener('click', function () {
						target.classList.remove('is-active');
					});
					target.querySelector('.modal-background').addEventListener('click', function () {
						target.classList.remove('is-active');
					});
				});
			});

			document.querySelector('#find-me').addEventListener('click', geoFindMe);
			document.querySelector('#help-request-form').addEventListener('submit', checkRequestForm);
		</script>
		{% endblock %}
	</div>
</div>
