{% extends 'base.html' %}
{% load leaflet_tags %}
{% load humanize %}
{% load static %}
{% block bread %}
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/dar">Información</a></li>
		<li class="is-active">
			<a href="#" class="is-active navigation-breadcrumb-active">Quiero ayudar</a>
		</li>
	</ul>
</nav>
{% endblock bread %}
{% block content%}

<div>
    <h2 class="center custom-heading-two">	Pedidos cercanos {{help_request.id}}</h2>
	<div id="loading-indicator" class="loader-wrapper">
		<div class="loader is-loading"></div>
	</div>
</div>

<div class="columns is-centered">
	<div class="column is-7">
		<label class="label has-text-left" for="search-city-field">Buscar tu ciudad</label>
		<div class="row is-centered cities-dropdown-wrapper">
			<div class="columns is-vcentered is-desktop">
				<div class="column">
					<div class="cities-dropdown">
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field">
									<div class="control">
										<div class="select">
											<input
												name="cities"
												class="input"
												list="list_cities"
												id="search-city-field"
												placeholder="Seleccionar ciudad..."
												autocomplete="off"
												type="search"
											/>
										</div>
										<p class="help has-text-info">
											<i
												class="fas fa-info-circle request-info-icon"
											></i
											>&nbsp;&nbsp;Si no se muestra tu ciudad en la lista es porque aún no hay pedidos!
										</p>
									</div>
								</div>
							</div>
						</div>
						<datalist id="list_cities">
							<select size="10">
								{% for city, code in list_cities %}
								<option data-value="{{code}}">
									{{city}}
								</option>
								{% endfor %}
							</select>
						</datalist>
					</div>
				</div>
			</div>
		</div>

		<div class="row request-map-container">
			{% leaflet_map "main" callback="mainMapInit" %}
		</div>

		<button
			id="find-me"
			class="button is-fullwidth hover-grow request-findme-button"
		>
			<span class="icon is-small search-location-icon">
				<i class="fas fa-map-marker-alt search-location-button"></i>
			</span>
			<span href="#" class="search-location-text">Apretá acá, para ver tu ubicación</span>
		</button>
		<p id="status"></p>
	</div>

	<div class="column is-5">
		<label class="label has-text-left" for="search-text-field">Buscar pedidos</label>
		<div class="columns is-vcentered is-desktop">
			<div class="column">
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" type="text" placeholder="Búsqueda por título o descripción, Ejemplo: Pañal"
							id="search-text-field" name="search-text-field" />
					</div>
					<div class="control">
						<a class="button is-info request-search-button" id="search-button">
							Buscar
						</a>
					</div>
				</div>
			</div>
		</div>

		<h3 class="panel-heading has-text-left request-list-title">
			Últimos pedidos de ayuda
		</h3>
		<div class="request-panel is-info has-text-left">
			<div class="request-list-table">
				<div id="requests-table"></div>
			</div>
		</div>
		<div id="requests-table-paginator"></div>
	</div>

	<script src="{% static 'scripts/list.js' %}"></script>

	<script>
		function mainMapInit(map, options) {
			new ListRequestView(map, {
				gestureHandling: true,
				gestureHandlingOptions: {
					text: {
						touch: "Usá dos dedos para mover el mapa",
						scroll: "Usá ctrl + scroll para hacer zoom",
						scrollMac: "Usá \u2318 + scroll para hacer zoom"
					}
				}
			});
		}
	</script>

	<script type="text/template" id="requests-table-template">
		{% verbatim %}
		<a href="/pedidos/{{id}}" class="has-text-grey-dark">
			<div class="media">
				<div class="media-content">
					<div class="content">
						<article class="help-request help-request-list">
							<div class="request-card">
								<div class="content">
									<header class="help-request-list-header">
										<img class="decorative" src="https://argentinaporvos.s3-us-west-2.amazonaws.com/static/img/img_hand.svg" alt="" />
										<div>
											<h2 class="bd-notification is-primary has-text-black has-text-left">
												<strong class="list-request-name">#{{id}}</strong> <span
												aria-hidden="true">|</span> {{name}}
											</h2>
											<p class="bd-notification is-primary has-text-black has-text-left">
												<small class="is-small list-request-days">{{added}}</small>
											</p>
										</div>
									</header>
									<div class="help-request-list-body">
										<p
											class="bd-notification is-primary has-text-black has-text-left">
											{{title}}
										</p>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</a>
		{% endverbatim %}
	</script>

	<script type="text/template" id="requests-table-empty-template">
		{% verbatim %}
		<div class="media request-list-message">
		    <h1>No se encuentran pedidos de ayuda en la ubicación actual.</h1>
		</div>
		     {% endverbatim %}
	</script>

	<script type="text/template" id="requests-table-paginator-template">
		{% verbatim %}
		<div class="row requests-table-paginator">

			<nav class="pagination is-centered" aria-label="Paginación">
				<button class="pagination-previous prev-button is-outlined request-list-table-pagination" {{hasPrev}}> <i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Anterior</button>

				<ul class="pagination-list">
					<li>
						<button class="pagination-link first-button list-pagination-first-button {{showFirst}} is-outlined" {{hasFirst}} >1</button>
					</li>

					<li>
						<span class="pagination-ellipsis {{showPrev}} is-outlined">&hellip;</span>
					</li>

					<li>
						<button class="pagination-link current-minus-button {{showPrev}} is-outlined">{{previousPage}} </button>
					</li>

					<li>
						<button class="is-outlined pagination-number-button">{{currentPage}} </button>
					</li>

					<li>
						<button class="pagination-link current-plus-button {{showNext}} is-outlined">{{nextPage}} </button>
					</li>
					
					<li>
						<span class="pagination-ellipsis {{showNext}} is-outlined">&hellip;</span>
					</li>

					<li>
						<button class="pagination-link last-button {{showLast}} is-outlined request-list-button-showlast" {{hasLast}}>{{totalPages}}</button>
					</li>
				</ul>

				<button class="pagination-next next-button is-outlined request-list-table-pagination " {{hasNext}}>Siguiente&nbsp;&nbsp;<i class="fas fa-chevron-right"></i> </button>
			</nav>
		</div>
		{% endverbatim %}
	</script>

	<script>
			function getDireccion(longitude, latitude) {
				return new Promise(function (resolve, reject) {
					fetch(`/v1/geoinversa/ar/${longitude}/${latitude}`)
						.then((response) => response.json())
						.then((data) => {
							const direccion = data.data;
							document.getElementById('div_direccion').innerHTML = `
          <span><b>Calles</b>:${direccion.getaddress || ''}</span><br /> 
          <span><b>Barrio</b>:${direccion.localidad || ''}</span><br /> 
          <span><b>Ciudad</b>:${direccion.distrito || ''} <span> <span><b>Departamento</b>:${
								direccion.departamento || ''
							}</span>`;
							document.getElementById('id_address').value = `${direccion.direccion || ''} ${
								direccion.localidad || ''
							} ${direccion.distrito || ''} ${direccion.departamento || ''}`;
							resolve(true);
						})
						.catch((error) => {
							resolve(true);
						});
				});
			}

			function geoFindMe() {
				const status = document.querySelector('#status');
				const boton = document.querySelector('#find-me');

				function makePoint(longitude, latitude) {
					return JSON.stringify({
						type: 'Point',
						coordinates: [longitude, latitude],
					});
				}

				async function success(position) {
					const latitude = position.coords.latitude;
					const longitude = position.coords.longitude;

					boton.textContent = 'Te encontré, seguí completando !';
					boton.disabled = true;
					status.textContent = '';

					document.getElementById('id_location').innerHTML = makePoint(longitude, latitude);

					await getDireccion(longitude, latitude);

					const you = L.marker([latitude, longitude], {
						draggable: true,
						opacity: 0.9,
						title: 'Tu ubicación',
					}).addTo(maps[0]);
					you.bindPopup('Moveme si queres !').openPopup();

					maps[0].setView([latitude, longitude], 16);

					you.on('dragend', async function (e) {
						await getDireccion(e.target._latlng.lng, e.target._latlng.lat);
						document.getElementById('id_location').innerHTML = makePoint(
							e.target._latlng.lng,
							e.target._latlng.lat
						);
					});
				}

				function error() {
					status.textContent = 'No puedo encontrarte, usá los botones del mapa';
				}

				if (!navigator.geolocation) {
					status.textContent = 'Tu navegador no soporta la geolocalización';
				} else {
					status.textContent = 'Buscando tu ubicación…';
					navigator.geolocation.getCurrentPosition(success, error);
				}
			}

			function checkRequestForm() {
				fields = ['id_title', 'id_message', 'id_name', 'id_phone', 'id_location', 'id_address'];
				var valid = true;
				for (field in fields) {
					if (!document.getElementById(fields[field]).checkValidity()) {
						valid = false;
					}
				}

				if (valid) {
					document.querySelector('#submit').textContent = 'Enviando...';
					document.querySelector('#submit').disabled = 'disabled';
					return true;
				}
			}

			document.querySelectorAll('.modal-button').forEach(function (el) {
				el.addEventListener('click', function () {
					var target = document.querySelector(el.getAttribute('data-target'));
					//map.invalidateSize();
					target.classList.add('is-active');

					target.querySelector('.close').addEventListener('click', function () {
						target.classList.remove('is-active');
					});
					target.querySelector('.delete').addEventListener('click', function () {
						target.classList.remove('is-active');
					});
					target.querySelector('.modal-background').addEventListener('click', function () {
						target.classList.remove('is-active');
					});
				});
			});

			document.querySelector('#find-me').addEventListener('click', geoFindMe);
		</script>


</div>

	{% endblock %}
