{% extends 'base.html' %}

{% block title %} Pedido #{{help_request.id}} {% endblock %}

{% block fb-title %} Pedido #{{help_request.id}} - {{ help_request.title}} {% endblock %}
{% block fb-description %} {{help_request.message}} {% endblock %}
{% block fb-image %} {{thumbnail}} {% endblock %}

{% load leaflet_tags %}
{% load static %}
{% load l10n %}
{% load humanize %}
{% block bread %}
<nav aria-label="breadcrumbs" class="breadcrumb is-centered">
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/recibir">Información</a></li>
		<li><a href="/pedidos">Quiero ayudar</a></li>
		<li class="is-active">
			<a class="is-active navigation-breadcrumb-active" href="#">Pedido #{{help_request.id}}</a>
		</li>
	</ul>
</nav>
{% endblock bread %}
{% block content%}

<main class="request columns is-centered">
	<article class="column is-four-fifths">
		<div class="card is-shadowless request-container">

			<header class="card-header request-header is-light">
				<h2
					class="card-header-title request-header-title is-size-4 is-centered"
				>
					Pedido #{{help_request.id}}
				</h2>

				<div class="request-title animated fadeIn">
					<img src="{% static 'img/img_hand.svg' %}" alt=""/>
					<h3 class="title is-5 has-text-black">{{ help_request.title }}</h3>
				</div>
				<hr>
			</header>


			<div class="card-content card-content-request">
				<div class="article-help-detail-p">
					<p class="has-text-left is-size-6" title="{{help_request.added|naturaltime}}">
						<small class="is-small request-date-added">{{help_request.added}}</small>
					</p>

					<p class="has-text-left is-size-5">
						{{help_request.message|linebreaksbr}}
					</p>
				</div>

				{% if help_request.picture %}
				<hr>
				<a href="/media/{{help_request.picture}}">
					<figure class="image is-small">
						<img alt="" class="has-ratio" src="{{thumbnail}}"/>
					</figure>
				</a>
				{% endif %}
				<hr>


				<div
					class="column is-fullwidth request-data-container"
				>
					<div class="media animated fadeIn">
						<div class="media-content is-full is-fullwidth">
							<div>
								<p class="subtitle has-text-left request-data-name">Nombre:</p>
								<p class="title is-4 has-text-left">{{ help_request.name}}</p>
							</div>
						</div>
					</div>
				</div>

				<div
					class="column is-fullwidth request-data-container"
				>
					<p class="subtitle has-text-left">Contactar:</p>
					<p class="subtitle has-text-left">
						<a class="button hover-grow is-half request-phone-button"
						   href="tel:+54{{help_request.phone}}"
						>
										<span class="icon is-small">
											<img src="{% static 'img/phone.svg' %}" alt="" />
										</span>
							<span>{{help_request.phone}}</span>
						</a>
						<a class="button hover-grow request-whatsapp-button"
						   href="https://wa.me/{{ whatsapp }}"
						>
										<span class="icon is-small">
											
											<img src="{% static 'img/whatsapp.svg' %}" alt="" />
										</span>
							<span>Contactar vía WhatsApp</span>
						</a>
					</p>
				</div>

				<hr>

				{% if help_request.address %}
				<div
					class="column is-fullwidth request-data-container"
				>
					<div class="media animated fadeIn">
						<div class="media-content is-full is-fullwidth">
							<div>
								<p class="subtitle has-text-left request-data-name">Dirección:</p>
								<p class="title is-4 has-text-left">{{help_request.address}}</p>
							</div>
						</div>
					</div>
				</div>
				{% endif %}


				<div
					class="column is-fullwidth request-data-container"
				>
					<div class="media animated fadeIn">
						<div class="media-content is-full is-fullwidth">
							<div>
								<p class="subtitle has-text-left request-data-name">Ciudad:</p>
								<p class="title is-4 has-text-left">
								<p class="title is-4">
									<a href="/pedidos_ciudad/{{help_request.city_code}}">{{help_request.city}}</a>
							</div>
						</div>
					</div>
				</div>


				<div
					class="column is-fullwidth request-data-container"
				>
					<div class="media animated fadeIn">
						<div class="media-content is-full is-fullwidth">
							<div class="content">
								<p class="subtitle has-text-left request-data-name">Ubicación:</p>
								{% leaflet_map "main" callback="mainMapInit" %}
								<a href="https://www.google.com/maps/search/?api=1&query={{help_request.location.y|unlocalize}},{{help_request.location.x|unlocalize}}"
								   target="_blank">
									<button class="button is-fullwidth open-map-button is-centered">
										<span class="icon is-medium">
											<img src="{% static 'img/map.svg' %}" alt="" />
										</span>
										<span>Abrir en Google Maps</span>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% include 'vote_button.html' %}

		</div>
		{% comment %}
		<div class="tile is-child is-box request-data-container">
			<p class="title is-4">{{ help_request.title}}</p>
			<p class="subtitle">{{help_request.message|linebreaks}}</p>
			<hr>
			<p class="subtitle">Nombre:</p>
			<p class="title is-4">{{ help_request.name}}</p>
			<p class="subtitle">Contacto:</p>
			<p class="title is-4"><a href="tel:{{help_request.phone}}">{{help_request.phone}}</a></p>
		</div>
		{% if help_request.address %}
		<p class="subtitle">Dirección:</p>
		<p class="title is-4">{{help_request.address}}</p>
		{% endif %}
		{% if help_request.picture %}
		<a href="/media/{{help_request.picture}}">
			<figure class="image is-small">
				<img class="has-ratio" src="{{thumbnail}}" alt=""/>
			</figure>
		</a>
		{% endif %}
		<p class="subtitle">Ubicación:
			{% leaflet_map "main" callback="mainMapInit" %}
		</p>
		<a href="https://www.google.com/maps/search/?api=1&query={{help_request.location.y|unlocalize}},{{help_request.location.x|unlocalize}}"
		   target="_blank">
			<button class="button is-medium is-fullwidth is-link is-light">
				<span class="icon is-medium">
					<i class="fas fa-map-marker-alt"></i>
				</span>
				<span>Abrir en Google Maps</span>
			</button>
		</a>
	</article>
	{% endcomment %}
	<aside>
		<h3 class="subtitle request-share">Compartí este pedido haciendo click en los botones</h3>
		<div class="is-fullwidth request-share-buttons">
			{% include 'includes/buttons.html'%}
		</div>
	</aside>


	<script type="text/javascript">
	function mainMapInit(map, options) {
		// Use Leaflet API here
		{% autoescape off %}
		let lon = {{ help_request.location.x|unlocalize }};
		let lat = {{ help_request.location.y|unlocalize }};
		data = {{ help_request.location.geojson }}
		{% endautoescape %}
		// zoom to point & add it to map
		map.setView([lat, lon], 14);
		//L.marker([lat, lon]).addTo(map);
		L.geoJson(data).addTo(map)
	}
	</script>
</main>
{% endblock %}
