<aside class="card-content request-vote-container">
	<form class="" name="thumbs">
		<h3 class="subtitle request-received">Ayuda recibida</h3>
		<div class="field is-flex request-vote-field">
			<div class="media animated fadeIn request-vote-media">
				<div class="media-left">
					<button
						class="button is-medium is-centered is-success is-outlined request-help-button"
						formmethod="post"
						name='vote'
						type="submit"
						value="up"
					>
						<span class="sr-only">Ayuda recibida</span>
						{% csrf_token %}
						<i class="fa fa-thumbs-up"></i>
					</button>
				</div>

				<div class="media-content">
					<div class="content is-vcentered is-vertical">
						<p class="title is-3 has-text-success">{{help_request.upvotes}}</p>
					</div>
				</div>
			</div>

			<div class="request-help-not-received animated fadeIn ">
				<div class="media-left">
					<button
						class="button is-medium is-centered is-danger is-outlined request-help-button"
						formmethod="post"
						name='vote'
						type="submit"
						value="down"
					>
						<span class="sr-only">Ayuda no recibida</span>
						{% csrf_token %}
						<i class="fa fa-thumbs-down"></i>
					</button>
				</div>

				<div class="media-content">
					<div class="content is-vcentered is-vertical">
						<p class="title is-3 has-text-danger">{{help_request.downvotes}}</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</aside>